<launch>
    <param name="state_topic" value="/state" />
    <param name="state_meta_topic" value="/state_meta" />
	<param name="topo_topic" value="/topo" />
    <param name="ctrl_ll_topic" value="/ctrlLL" />    
	<param name="ctrl_cmd_topic" value="/ctrlCmd" />    
	<param name="ctrl_err_topic" value="/ctrlErr" />
    <param name="fbn_db_topic" value="/fbn_db" />
    <param name="fbn_raw_topic" value="/fbn_db" />
    <param name="heartbeat_topic" value="/hb" />
    <param name="traj_topic" value="/traj" />
    <param name="control_mode_topic" value="/controlMode" />
    <param name="vel_cmd_topic" value="/velCmd" />
    <param name="alt_cmd_topic" value="/altCmd" />
    <param name="depth_cmd_topic" value="/depthCmd" />
    <param name="dyn_pose_topic" value="/dynPose" />
    <param name="pose_viz_topic" value="/viz_trail" />
    <param name="boat_pose_topic" value="/boat/pose" />
    <param name="usbl_topic" value="/objects/pose" />
    <param name="viz_topic" value="/viz_marker" />
    <param name="fbn_db_topic" value="/fbn_db" />
    <param name="fbn_raw_topic" value="/fbn_raw" />
    <param name="gui_request_topic" value="/guiRequest" />
    <param name="veh_status_topic" value="/vehStatus" />
    <param name="get_veh_status_service" value="/getVehStatus" />
    <param name="set_veh_status_service" value="/setVehStatus" />
    <param name="set_veh_status_bit_service" value="/setVehStatusBit" />
    <param name="unset_veh_status_bit_service" value="/unsetVehStatusBit" />
    <param name="platform_status_topic" value="/platformStatus" />
    <param name="get_platform_status_service" value="/getPlatformStatus" />
    <param name="set_platform_status_service" value="/setPlatformStatus" />
    <param name="set_platform_status_bit_service" value="/setPlatformStatusBit" />
    <param name="unset_platform_status_bit_service" value="/unsetPlatformStatusBit" />
    <param name="dvl_ref_topic" value="/comnav/vel" />
    <param name="veh_usbl_topic" value="/vehUSBL" />
    <param name="acomms_to_topic" value="/aCommsTo" />
    <param name="acomms_from_topic" value="/aCommsFrom" />
</launch>
